body {
  background-color: rgb(113, 165, 140);
}

h1.header{
  text-align: center;
  font-size: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: ivory;
  border-style: double;
}

.card{
  display:-moz-grid; 
  text-align: center;
  color: ivory;
  font-size: 2rem;
}

ul.horizontal-list{
  display:inline-block;
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;
}

li{
  display: inline-block;
}

h1.chorelist{
  text-align: center;
  font-size: 3rem;
  border-style: double;
}

form.room{
  text-align: center;
}

h2.room{
  font-size: 2.5rem;
}

h1.roomList{
  text-align: center;
  border-style: solid; 
  border-radius: initial;
}

input.room{
  height: 20px;
  width: 200px;
  font-size: 10pt;
  justify-content: center;
}


