body {
  background-color: rgb(113, 165, 140);
}

h1.header{
  text-align: center;
  font-size: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
  border-style: double;
}

.card{
  display:-moz-grid; 
  text-align: center;
  color: beige;
  font-size: 2rem;
}

ul.horizontal-list{
  display:inline-block;
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;
}

li{
  display: inline-block;
}


